@{
    ViewBag.Title = "Index";
}
<script src="~/SCRIPTS/angular.js"></script>
<script src="~/SCRIPTS/Angularcode.js"></script>
<style>
    .btn-space {
        margin-left: -5%;
        background-color: cornflowerblue;
        font-size: large;
    }
</style>
<h2>Index</h2>
<div ng-app="myApp">
    <div class="divList" ng-init="GetAllData()" ng-controller="MyController">
        <p class="divHead">List of Employee</p>
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td>
                    <b>Eno</b>
                </td>
                <td>
                    <b>Ename</b>
                </td>
                <td>
                    <b>Salary</b>
                </td>
                <td>
                    <b>Gender</b>
                </td>
                <td>
                    <b>City</b>
                </td>
                <td>
                    <b>Hobbies</b>
                </td>
                <td>
                    <b>Hobbies1</b>
                </td>
                <td>
                    <b>Hobbies2</b>
                </td>
            </tr>
            <tr ng-repeat="Emp in employees">
                <td>
                    {{Emp.Eno}}
                </td>
                <td>
                    {{Emp.Ename}}
                </td>
                <td>
                    {{Emp.Salary}}
                </td>
                <td>
                    {{Emp.Gender}}
                </td>
                <td>
                    {{Emp.City}}
                </td>
                <td>
                    {{Emp.Hobbies}}
                </td>
                <td>
                    {{Emp.Hobbies1}}
                </td>
                <td>
                    {{Emp.Hobbies2}}
                </td>
                <td>
                    <input type="button" class="btn btn-warning" value="Update" ng-click="UpdateEmp(Emp)"/>
                    <input type="button" class="btn btn-danger" value="Delete" ng-click="DeleteEmp(Emp)" />
                </td>
            </tr>
        </table>
        <div class="form-horizontal" role="form">
            <div class="container">
                <div class="row">
                    <h2>
                        <span id="spn">Add New Employee</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">EmpName:</label>
                            <div class="col-md-8">
                                <input type="text" required class="form-control" id="EmpName" placeholder="EmpName" ng-model="EmpName">
                            </div>

                            <div class="col-md-8">
                                <input type="hidden" required class="form-control" id="Eno" placeholder="EmpNo" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">EmpSalary:</label>
                            <div class="col-md-8">
                                <input type="text" required class="form-control" id="EmpSalary" placeholder="EmpSalary" ng-model="EmpSalary">
                            </div>
                        </div>
                    </div>

                    <div id="demo">
                        <input type="radio" required value="Male" ng-model="selectedvalue" name="rab" />Male
                        <input type="radio" required value="Female" ng-model="selectedvalue" name="rab" />Female
                    </div>
                    <div>
                        <input type="checkbox" required id="chk" ng-model="selectedvalue0" />Cricket
                        <input type="checkbox" required id="chk1" value="Songs" ng-model="selectedvalue1" />Songs
                        <input type="checkbox" required id="chk2" value="Chess" ng-model="selectedvalue2" />Chess
                    </div>
                    <div class="form-group">
                        <label for="sel1">Select City:</label>
                        <select ng-model="Selectlist" class="form-control" id="City">
                            <option>Please Select</option>
                            <option value="Hyd">Hyd</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Bengaluru">Bengaluru</option>
                            <option value="Mumbai">Mumbai</option>
                        </select>
                    </div>

                    <div>
                        <div>
                            <input type="button" id="btnInsert" value="insert" ng-click="InsertData()" />
                        </div>
                    </div>
                </div>

            </div>

            @Html.Hidden("Eno")
        </div>
